/* Home Section*/
.home {
  position: relative;

  &__container {
    position: relative;
    display: grid;
    row-gap: 1rem;
    padding-top: 8rem;
    height: 100vh;
  }

  &__title {
    margin-bottom: 0.75rem;

    font-family: $second-font;
    font-size: $biggest-fs;
    color: $title-color;

    & span {
      display: block;
      color: $first-color;
    }
  }

  &__description,
  &__button {
    font-weight: 600;
  }

  &__description {
    margin-bottom: 1.5rem;

    color: $title-color;
  }

  &__button {
    display: inline-block;
    padding: 1rem 2rem;

    box-shadow: 0 8px 20px hsla(2, 100%, 45%, 0.28);
    border-radius: 1.5rem 0.25rem;

    background-color: $first-color;
    color: #fff;

    transition: backgroud 0.4s;

    &:hover {
      background-color: $first-color-alt;
    }
  }

  &__images {
    position: relative;
    width: 325px;
    height: 378px;
    justify-self: center;

    & img {
      position: absolute;
    }
  }

  &__liquid {
    max-width: initial;
    width: 340px;
    left: -0.5rem;
  }

  &__juice {
    width: 140px;
    left: 1rem;
    right: 0;
    top: 1rem;
    margin: 0 auto;

    transform: rotate(15deg);
    animation: float-juice 4s ease-in-out infinite;
  }

  &__apple1 {
    width: 100px;
    top: 7rem;
    left: 0.65rem;

    transform: rotate(-25deg);
  }

  &__apple2 {
    width: 90px;
    right: 1.5rem;
    bottom: 3.5rem;

    transform: rotate(-25deg);
  }

  &__leaf:nth-child(1),
  &__leaf:nth-child(6) {
    width: 50px;

    transform: rotate(30deg);
  }

  &__leaf:nth-child(2),
  &__leaf:nth-child(4),
  &__leaf:nth-child(5) {
    width: 40px;
  }

  &__leaf:nth-child(1) {
    top: -7rem;
    right: 3rem;
  }

  &__leaf:nth-child(2) {
    top: 1.5rem;
    left: 1.25rem;

    transform: rotate(-60deg);
  }

  &__leaf:nth-child(3) {
    width: 20px;
    top: 8rem;
    right: 5rem;

    transform: rotate(-15deg);
  }

  &__leaf:nth-child(4) {
    bottom: 4rem;
    left: 3rem;
  }

  &__leaf:nth-child(5) {
    bottom: 0;
    right: 5rem;

    transform: rotate(-30deg);
  }

  &__leaf:nth-child(6) {
    bottom: -5rem;
    left: 3rem;
  }

  &__shape {
    &-small,
    &-big {
      position: absolute;

      border-radius: 50%;

      background-color: hsla(2, 100%, 88%, 1);
      filter: blur(100px);
    }

    &-small {
      width: 200px;
      height: 200px;
      top: -5rem;
      left: -5rem;
    }

    &-big {
      width: 250px;
      height: 250px;
      top: 17rem;
      right: -8rem;
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      mix-blend-mode: soft-light;
    }
  }
}

/* Animation juice */
@keyframes float-juice {
  0% {
    transform: translateY(0) rotate(15deg);
  }
  50% {
    transform: translateY(-1.5rem) rotate(15deg);
  }
  100% {
    transform: translateY(0) rotate(15deg);
  }
}
